[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/indent-object"]
	path = .vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/endwise"]
	path = .vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/multiple-cursors"]
	path = .vim/bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/visualstar"]
	path = .vim/bundle/visualstar
	url = https://github.com/thinca/vim-visualstar.git
[submodule ".vim/bundle/railscast-theme"]
	path = .vim/bundle/railscast-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule ".vim/bundle/distinguished-theme"]
	path = .vim/bundle/distinguished-theme
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule ".vim/bundle/molokai-theme"]
	path = .vim/bundle/molokai-theme
	url = https://github.com/tomasr/molokai.git
